.news-gallery {
  display: grid;

  max-width: $width-mobile;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 20px;

  @include for-size-tablet($width-tablet) {
    max-width: $width-tablet;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 30px;
  }

  @include for-size-desktop($width-desktop) {
    max-width: $width-desktop;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 32px;
  }
}

.news-gallery__item {
  position: relative;
  height: 675px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 28px;
}

.news-gallery__img-container {
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
  border-radius: 4px;
}

// .news-gallery__img {
//   height: 100%;
//   object-fit: cover;
// }

.news-gallery__img-container-label {
  position: absolute;
  display: inline-block;
  width: 112px;
  top: 40px;
  left: 0;
  padding: 4px 8px;
  border-radius: 0px 4px 4px 0px;
  color: #fff;
  background-color: rgba(68, 64, 247, 0.7);
  font-family: 'Manrope500', sans-serif;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  vertical-align: text-bottom;
  @media screen and (min-width: 768px) {
    top: 44px;
  }
}

.news-gallery__favorite-btn {
  display: flex;
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 126px;
  height: 28px;
  margin-bottom: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;

  // color: #111321;
  background-color: #fff;
}

.icon-span {
  padding: 6px 12px;
  width: 100%;
  height: 100%;
}

.add-favorite {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-favorite-icon {
  margin-left: 4px;
  fill: transparent;
}

.remove-favorite {
  display: none;
}

.remove-favorite-icon {
  margin-left: 4px;
}

// .news-gallery__wrap-title {
//   height: 99px;
//   margin-bottom: 20px;
//   @media screen and (min-width: 768px) {
//     height: 132px;
//   }
// }

.news-gallery__title {
  padding: 0 4px;
  font-family: 'Manrope700', sans-serif;
  color: #111321;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  height: 99px;
  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
}

.news-gallery__text {
  padding: 0 4px;
  font-family: 'Manrope400', sans-serif;
  margin-top: 20px;
  height: 57px;
  font-size: 14px;
  line-height: 1.36;

  @media screen and (min-width: 768px) {
    height: 66px;
    line-height: 1.38;
  }
}

.news-gallery__info-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 20px;
}

.news-gallery__pub_date {
  color: #a8a8a8;
  font-family: 'Manrope400', sans-serif;
  font-size: 14px;
  line-height: 1.36;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.news-gallery__read-more {
  color: #4440f6;
  font-family: 'Manrope400', sans-serif;
  font-size: 14px;
  line-height: 1.36;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-right: 26px;
  }
}

.news-gallery__wrap-reading {
  display: none;
  opacity: 0;
}

.news-gallery__item .show .news-gallery__wrap-reading {
  display: inline-block;
  opacity: 1;
  position: absolute;
  top: 40px;
  right: 0;
  min-width: 112px;
  height: 24px;
  padding: 4px 8px;
  display: inline-block;
  border-radius: 4px 0 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #4440f6;
  z-index: 9;
  @media screen and (min-width: 768px) {
    top: 44px;
  }
}

.news-gallery__reading {
  color: #fff;
  font-family: 'Manrope500', sans-serif;
  font-size: 12px;
  line-height: 1, 36;
}

.icon {
  color: #00b912;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(244, 244, 244, 0.4);

  transform: translate(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
